
body{
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 8pt;
	text-align: center;
	background-color: #DCDCDC;
	padding: 0;
}

@media only screen and (max-width:780px) {
	.container {
		margin: 0;
		padding: 0;	
	}

	.notshow {
		display: none;
	}
}

#arrow {
	font-weight: regular;
}

#arrow:hover {
	cursor: pointer;
}

div #app1 {
	margin: 0px, 10px;
	padding: 32px,10px;
}

#app2 > div {
	display: inline-flex ;
	background-color: beige;
	width: 100%;
	padding: 10px, 32px;
	margin: 0, 15px;

}
#app2 li{
	list-style: none;
}

h1 {
	font-family: 'PT Sans Caption', serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0.008em;
	word-spacing: 0em;
	line-height: 1.16em;
	color: #FFFF99;
}

.units {
float: right;
font-size: .8em;
}

.calcInput {
	color: #FF0000;
	text-align:right;
	padding: 0px; 
	border: 1px solid white; 
	border-collapse: collapse; 
	background-color: rgb(255, 255, 255);
}

.calcInputEven {
	color: #FF0000;
	text-align:right;
	padding: 0px;
	border: 1px solid #eee;
	border-collapse: collapse;
	background-color: #eee;"
}

.calcResultTotal {
	color: #FF0000;
	font-size:1.5em;
	font-weight:bold;
	text-align:right;
	padding: 0 5px 0 0; 
	/*border: 1px solid #fff;*/ 
	border-collapse: collapse; 
	background-color: #fff;"
}
.calcResultTotalEven {
	color: #FF0000;
	text-align:right;
	font-size:1.5em;
	font-weight:bold;
	padding: 0px; 
	border: 1px solid #eee; 
	border-collapse: collapse; 
	background-color: #eee;
}

.note {
	font-size: 15px;
	color: red;
	margin-left: auto;
	margin-right: auto;
}

ul {
	text-align: left;
}
nav li {
	list-style: none;
}

.results1 {
	text-align:left;
	color:#DC143C;
	font-size:.8em;
	font-weight:bold;
	padding: 0px;
	border: 1px solid #fff;
	border-collapse: collapse;
	background-color: #fff;
}

.results2 {
	text-align:left;
	color:#DC143C;
	font-size:.8em;
	font-weight:bold;
	padding: 0px;
	border: 1px solid #eee;
	border-collapse: collapse;
	background-color: #eee;
}

/* table fields */

.dashedInput {
	text-align:right;
	padding: 4px; 
	border: 1px dashed gray; 
	border-collapse: collapse; 
	background-color: rgb(255, 255, 255);
}

.hovertip {
	text-decoration: underline;
}



.dimensions {
	float:right;
	font-size:.8em;
	color:red;
}

.total {
	border-top:1px solid #000;
}

.watt{
    width: 80px;
}

#sampReq,
#ampReq,
#hotReq,
#metReq,
#ocdReq,
#sgcReq,
#sbjReq,
#conReq,
#panReq {
	font-size: 13px;
    color: #FF0000;
}

em {
	color: steelblue;
	font-weight: bold;
}

img {
	border: none;
	vertical-align: middle;
}

#terms {
    width: 955px;
	margin: 0 auto;
}

.center {
	text-align: center !important;
}

.alert {
	color: #FFCC00 !important;
}

#calc-comments {
	width: 955px;
	margin: 0 auto;
}


